---
layout: default
title: Anasayfa
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Kadın liderler COVID 19’a karşı güçlerini birleştiriyor</h1>
        <h2 class="lead">Bu programın amacı kadın liderlerin yerelde temsil ettikleri bölgelerde COVID-19&#39;dan etkilenen kadınlar için sağladıkları hizmet ve politikaların geliştirilmesi ve eylemlerinin arttırılmasıdır.</h2> 
        <a href="https://bit.ly/covid19kadinliderlerbilginotu" target="_blank" class="btn bg-success text-white">Bilgi notunu inceleyin</a>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Duyurular</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">
        <div class="section-title">
            <h2><span>Videolar</span></h2>
        </div>

        <div class="section-title">
            <h2><span>Buluşmalar</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">
            {% assign sorted_posts = site.posts | sort: "post-order" %}
            {% for post in sorted_posts %}

            {% if post.path contains "meetings" %}

                {% include postbox.html %}

            {% endif %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>
        <div class="section-title">
            <h2><span>Materyaller</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">
            {% assign sorted_posts = site.posts | sort: "post-order" %}
            {% for post in sorted_posts %}

            {% if post.categories contains "Materyal" %}

                {% include postbox.html %}

            {% endif %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>
    </div>

</section>